<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>



<div class="opening-board">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>CURRENT OPENING</h1>
</div>
<div class="opening-nav">
<h2>CURRENT OPENING</h2>
</div>

<div class="opening-details">
    <%if(open==false){%>
            <div class="No-openings">
                <br>
                <br>
                <br>
                <br>
                <h2> No Opening </h2>
                <h2>Come Back Later</h2>
            </div>
        <%}else{%>
            
            <%}%>
</div>






<%- include('./partials/footer'); -%>