<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>

    <div class="container-fluid student-profile">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Teaching / Research Guidance </h1>

        </div>
    </div>

    <div class="container-fluid background-student">
        <h3>Teaching / Research Guidance </h3>
    </div>

    <div class="container-fluid add-student">
        <br>
        <div class="phd-section" >
            <br>
            <h3>Doctor of Philosophy</h3>
            <hr>
            <br>
            <div class="ug-student" style="text-align: left;">
                <h3>Name: XYZ</h3>
               <h3>Title of the project: XYZ</h3>
               <h3>Time taken:</h3>
               <h3>project: </h3>
               <h3>Duration: </h3>
               <h3>Affiliation: </h3>
               <h3>Status: </h3>
               </div>
               <br>
            


        </div>
        <br>
        <br>

        <div class="pg-section" >
            <br>
            <h3>Postgraduate students</h3>
            <hr>
            <br>
            <div class="pg-student" style="text-align: left;">
                <h3>Name: XYZ</h3>
               <h3>Title of the project: XYZ</h3>
               <h3>Time taken:</h3>
               <h3>project: </h3>
               <h3>Duration: </h3>
               <h3>Affiliation: </h3>
               <h3>Status: </h3>
               </div>
               <br>

        </div>
        <br>
        <br>


        <div class="ug-section" >
            <br>
            <h3>Undergraduate students</h3>
            <hr>
            <br>
            <div class="ug-student" style="text-align: left;">
             <h3>Name: XYZ</h3>
            <h3>Title of the project: XYZ</h3>
            <h3>Time taken:</h3>
            <h3>project: </h3>
            <h3>Duration: </h3>
            <h3>Affiliation: </h3>
            <h3>Status: </h3>
            </div>
            <br>
        </div>
        <br>
        <br>
        
        <div class="intern-section" >
            <br>
            <h3>Intern students</h3>
            <hr>
            <br>
            <div class="ug-student" style="text-align: left;">
                <h3>Name: XYZ</h3>
               <h3>Title of the project: XYZ</h3>
               <h3>Time taken:</h3>
               <h3>project: </h3>
               <h3>Duration: </h3>
               </div>
               <br>


        </div>
        <br>
        <br>


    </div>

<%- include('./partials/footer'); -%>