<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>

    <div class="container-fluid talk-background">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>INVITED / EXPERT TALKS / GUEST LECTURES</h1>
         <h6>IN</h6>   
        <h1> SEMINARS, COURSES</h1>
    </div>

    <div class="talk-nav">
        <h5>INVITED / EXPERT TALKS / GUEST LECTURES IN  SEMINARS, COURSES</h5>
    </div>
    <div class="talk-overview">
        <div class="container-fluid talk-year">
            <h3>Talk Year</h3>
            <hr>
         
                <div class="talk-info">
                    <p>Invited talk on</p>
                    <p style="font-family:Arial, Helvetica, sans-serif; font-weight: 700;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem cumque nisi ad, corporis praesentium dicta necessitatibus hic, minima, repellendus aliquid quas ipsa sint ex? Hic in quam impedit illum tempore!
                    </p>
                    <p>at xyz place</p>
                    <p>on xyz date</p>
                </div>
                <div class="talk-info">
                    <p>Invited talk on</p>
                    <p style="font-family:Arial, Helvetica, sans-serif; font-weight: 700;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem cumque nisi ad, corporis praesentium dicta necessitatibus hic, minima, repellendus aliquid quas ipsa sint ex? Hic in quam impedit illum tempore!
                    </p>
                    <p>at xyz place</p>
                    <p>on xyz date</p>
                </div>
                <div class="talk-info">
                    <p>Invited talk on</p>
                    <p style="font-family:Arial, Helvetica, sans-serif; font-weight: 700;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem cumque nisi ad, corporis praesentium dicta necessitatibus hic, minima, repellendus aliquid quas ipsa sint ex? Hic in quam impedit illum tempore!
                    </p>
                    <p>at xyz place</p>
                    <p>on xyz date</p>
                </div>
     

        </div>

    </div>
<%- include('./partials/footer'); -%>