<%- include('./partials/header'); -%>
<%- include('./partials/navbar'); -%>

<div class="container-fluid">
    <div class="row workshop-Back">
        <div class="col-lg-12">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 calss="workHeading">Workshop Conducted</h1>
        </div>
    </div>
</div>

<div class="container-fluid workshopTitle">
    <h3>Workshop Conducted</h3>
</div>


<div class="container-fluid backgroundWork">
    <br>
    <div class="workshopList">

            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>

        </div>  
        <div class="workshopList">
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            
        </div>  
        <div class="workshopList">
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            <p>&#8594; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illo pariatur at esse soluta earum qui eum quod. Dolorum veniam ea quia eum aliquid doloremque asperiores animi possimus alias iste!</p>
            
        </div>  
        <br>
</div>

<%- include('./partials/footer'); -%>