.workshop-Back{
    text-shadow: 1px 0px 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: rgb(251, 255, 235);
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.623), rgba(85, 85, 87, 0.596)),url('https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHdvcmtzaG9wJTIwbGVjdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    padding: 30px;
    height: 400px;
    letter-spacing: 0.02rem;
    background-size: cover;
    background-position: center;
    letter-spacing: 0.3rem;

}


.workshopTitle{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:rgb(20, 19, 19);
    padding: 20px;
    font-weight: 900;
    color:snow;
    letter-spacing: 0.1rem;

}
 
.workshopList{
    color: snow;
    background-image: linear-gradient(to bottom right, rgba(224, 160, 21, 0.411),rgba(255, 0, 0, 0.466));
    width: 90vw;
    margin:auto;
    margin-top: 20px;
    text-shadow: 1px 0px 1px black;
    font-weight: 500;
    font-size: 20px;
    padding: 30px;
    font-family: 'Source Code Pro', monospace,arial,sans-serif;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.backgroundWork{
    background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(21, 21, 22, 0.589)),url('https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHdvcmtzaG9wJTIwbGVjdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
    height: 100%;
}